<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="hotel">
	<!-- resultType을 alias 처리하기 위해서는 src/main/resources/mybatis-config.xml에서 
		설정하기 -->
	<!-- 1. 호텔 정보 추출 후 장바구니에 삽입 -->
	<select id="hotel_select" resultType="hotelDto">
		select * from
		hotel where
		h_no=#{h_no}
	</select>

	<insert id="hotel_insert">
		insert into hotel values((select NVL(MAX(h_no)+1, 1)
		from hotel), #{h_name}, #{h_address}, #{h_tel}, #{h_price}, 'N',
		#{h_m_id}, #{h_img}, #{h_type}, #{h_content}, #{h_room})
	</insert>


	<update id="hotel_update">
		update hotel set h_name=#{h_name},
		h_address=#{h_address}, h_tel = #{h_tel}, h_price=#{h_price},
		h_room=#{h_room}, h_content=#{h_content}, h_type=#{h_type},
		h_img=#{h_img} where h_no=#{h_no}
	</update>
	
	<delete id="hotel_delete">
		delete from hotel where h_no=#{h_no}
	</delete>
	
	
	<select id="hotel_list" resultType="hotelDto">
		select * from hotel where h_approve='Y' order by h_no
	</select>
	
	<select id="hotel_select_mid" resultType="hotelDto">
		select * from hotel
		where h_m_id = #{h_m_id} order by h_no
	</select>
	
	<select id="hotel_approve_y" resultType="hotelDto">
		select * from hotel 	
		where h_approve = 'Y'	
		order by h_no
	</select>	
	
	<select id="hotel_approve_n" resultType="hotelDto">
		select * from hotel 
		where h_approve = 'N'	
		order by h_no
	</select>	

	<update id="hotel_approve_update">
		update hotel set h_approve = 'Y' where h_no = #{h_no}
	</update>
	
	
	<!-- 메인화면 날짜선택 없을 때 -->
	<select id="datex" resultType="hotelDto">
		select * from hotel
		where h_address like '%'||#{h_address}||'%' and #{h_room}>0 and h_type=#{h_type} order by h_no
	</select>
	
	<!-- 지역 숙소 상태에 따른 출력 -->
	<select id="hotel_searchList" resultType="hotelDto">
	<![CDATA[ 
			select h.*, hr.*, case when hr.hr_room + #{select_room} <= h.h_room then 'true' else 'false' end as result 
		from (select * from hotel_room where hr_date=#{hr_date}) hr, hotel h
		where h.h_address like '%'||#{h_address}||'%' and h.h_type=#{h_type} order by h.h_no
	]]>
	</select>	
	
	<select id="hoteldto_select" resultType="hotelDto">
		select h.* from hotel h
		where h.h_address like '%'||#{h_address}||'%' and h.h_type=#{h_type}
		and h.h_no = #{h_no} order by h.h_no	
	</select>
	
	<select id="hoteldto_selectPrice" resultType="hotelDto">
		select h.* from hotel h
		where h.h_type=#{h_type}
		and h.h_no = #{h_no} order by h.h_no	
	</select>
	
	<select id="hotel_priceSearch" resultType="hotelDto">
		<![CDATA[ 
			select * from hotel where h_price >= #{minPrice} and h_price <= #{maxPrice} and h_approve='Y' order by h_no
		]]>
	</select>
</mapper>







