<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="review">
	<!-- resultType을 alias 처리하기 위해서는 src/main/resources/mybatis-config.xml에서 설정하기 -->
		
	<!-- 1. 호텔 상세 정보에서 리뷰 목록 띄우기 -->
	<select id="review_list" resultType="hotelReviewDto">
		select * from hotel_review where hre_h_no=#{h_no} order by hre_date
	</select>
	
	<!-- 2. 호텔 리뷰 작성 완료 버튼 클릭 -->
	<insert id="review_insert">
		insert into hotel_review
		 values((select NVL(MAX(hre_no)+1, 1) from hotel_review), #{hre_h_no}, #{m_id}, #{hre_comment}, #{hre_score}, sysdate)
	</insert>
</mapper>



