<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="user">
	<!-- resultType을 alias 처리하기 위해서는 src/main/resources/mybatis-config.xml에서 설정하기 -->
	<!-- 1.장바구니 삽입 -->
		<insert id="cart_insert" >
		insert into shopping_carts  
		values((select NVL(MAX(s_no)+1, 1) from shopping_carts),#{s_h_no},#{s_m_id},TO_DATE(#{s_checkin},'dd/MM/yy'),TO_DATE(#{c_checkout},'dd/MM/yy'))
	</insert>
	
	<!-- 2.장바구니 뷰 -->
		<!-- <select id="cart_View" resultType="cartDto" >
		select * from shopping_carts
	</select> -->
	
	<!-- 3.장바구니 뷰& 페이지 처리 -->
	<select id="cart_innerJoinView" resultType="cartDto">
	<![CDATA[ 
		select X.s_no, X.h_name, X.s_checkin, X.c_checkout, X.h_img, X.m_id, X.h_no, X.h_room
			from (
  					  select rownum as rnum, A.s_no, A.h_name, A.s_checkin, A.c_checkout, A.h_img, A.m_id, A.h_no, A.h_room
   							 from (
      									 select S.s_no, H.h_name, S.s_checkin, S.c_checkout, H.h_img, M.m_id, H.h_no, H.h_room
       											 from shopping_carts S
    										     inner join hotel H on S.s_h_no=H.h_no
        										 inner join member M on S.s_m_id=M.m_id and M.m_id=#{m_id}
        										 order by S.s_no ) A
  							  where rownum <= #{endPage} ) X
			where X.rnum >= #{startPage}
	]]>
	</select>
	<!-- 장바구니 삭제 -->
	<delete id="cart_delete">
		delete from shopping_carts 
		where s_no=#{s_no}
	</delete>
	
	<!-- 리스트 카운트 -->
	<select id="cart_count" resultType="java.lang.Integer">
	select count(*)
	from shopping_carts
	</select>
</mapper>







